canvas {
    margin: 0;
    padding: 0;
}

canvas.char_canvas {
    margin: 8px;
    border: 1px dashed black;
}

canvas.char_canvas:hover {
    margin: 8px;
    border: 1px solid red;
}

canvas#disc_canvas {
    border: 2px solid black;
}

#input_area {
    padding: 0;
    position: absolute;
    width: 441px;
}

#output_area {
    padding: 0;
    margin-left: 450px;
}

button {
    width: 350px;
    height: 48px;
    background: #9c0;
    border: 1px solid #8a0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius:         8px;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
}
button:hover {
    border: 1px solid #680;
    box-shadow:         0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
button:active {
    background: #90c200;
    box-shadow:         inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
}
