body {
    width: 1536px;
    height: 1024px;
}

canvas {
    margin: 0;
    padding: 0;
}

canvas.char_canvas {
    margin: 8px;
    border: 1px dashed black;
}

canvas.char_canvas:hover {
    margin: 8px;
    border: 1px solid red;
}

#input_pane {
    padding: 0;
    position: absolute;
    width: 470px;
}

#reset_pane {
    padding: 0;
    position: absolute;
    width: 280px;
    margin-left: 480px;
}

#output_pane {
    padding: 0;
    margin-left: 770px;
}

/* styles common to buttons */
button {
    margin: 4px 0 4px 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius:         8px;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
}
button:hover {
    box-shadow:         0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
button:active {
    background: #90c200;
    box-shadow:         inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* normal button (green) */
.normal_button {
    background: #9c0;
    border: 1px solid #8ab800;
}
.normal_button:hover {
    border: 1px solid #680;
}
.normal_button:active {
    background: #8ab800;
}

/* dangerous button (red) */
.dangerous_button {
    background: #c30;
    border: 1px solid #b82e00;
}
.dangerous_button:hover {
    border: 1px solid #820;
}
.dangerous_button:active {
    background: #b82e00;
}

/* output buttons */
.output_button {
    width: 370px;
    height: 72px;
}

/* reset buttons */
.reset_button {
    width: 135px;
    height: 135px;
}
#reset_all_button {
    width: 278px;
    height: 135px;
}
