* {
    margin: 0;
    padding: 0;
}

/* <body> and its contents */
body {
    padding: 8px;
    width:  1520px;  /* 1536 - 2 * padding */
    height: 1008px;  /* 1024 - 2 * padding */
}

/* #header and its contents */
#header {
    margin: 8px;
    height: 56px;
}

#title {
    font-size: 36px;
    font-weight: bold;
}

#mode_toggle_button {
    width: 380px;
    height: 48px;
}

/* #content and its contents */
/* normal mode */
#content {
    position: relative;
    height: 936px;
}

#char_canvas_panel {
    position: absolute;
    width: 470px;
}

#char_canvas_panel > * {
    margin: 8px;
}

canvas.char_canvas {
    border: 1px dashed black;
}

canvas.char_canvas:hover {
    border: 1px solid red;
}

#reset_button_panel {
    position: absolute;
    width: 280px;
    margin-left: 480px;
}

#reset_button_panel > * {
    margin: 4px 0 4px 0;
}

#output_panel {
    margin-left: 770px;
}

#control_panel > * {
    margin: 4px 0 4px 0;
}

/* print mode */
#print_view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: white;
}

#print_char_canvas_panel {
    position: absolute;
    width: 210px;
}

#print_disc_canvas {
    position: absolute;
    margin-left: 220px;
}

/*
 * basic styles
 */
span.emph {
    font-size: xx-large;
}

button {
    font-size: 24px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius:         8px;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
}
button:hover {
    box-shadow:         0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
button:active {
    box-shadow:         inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* normal button (green) */
button.normal {
    color: white;
    background: #9c0;
    border: 1px solid #8ab800;
}
button.normal:hover {
    border: 1px solid #680;
}
button.normal:active {
    background: #8ab800;
}

/* dangerous button (red) */
button.dangerous {
    color: white;
    background: #c30;
    border: 1px solid #b82e00;
}
button.dangerous:hover {
    border: 1px solid #820;
}
button.dangerous:active {
    background: #b82e00;
}

/* reset buttons */
button.reset.size_1x1 {
    width: 135px;
    height: 135px;
}
button.reset.size_2x1 {
    width: 278px;
    height: 135px;
}

/* control buttons */
button.control {
    width: 370px;
    height: 60px;
}
